:root{
    --blueLight: #366ED8;
    --blueDark: #064ACB;
    --orange: #F3A953;
    --gray: #F2F3F3;
    --white: #fff;
    --black: #000;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,:before,:after{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    line-height: 1.8;
}

h1{
    font-size: 4rem;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--white);
}

h2{
    font-size: 3rem;
}

h1,h2{
    text-align: center;
}

a{
    text-decoration: none;
}

select,input,textarea{
    width: 100%;
}

.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.three.columns{
    width: 100%;
}

header{
    background: var(--blueLight);
    padding: 1rem 0;
    margin-bottom: 5rem;
}

@media(min-width: 768px){
    div.row{
        display: flex;
        justify-content: space-between;
    }
}

#search-form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#list-results{
    margin: 2rem 0;
}

.book-name{
    text-transform: capitalize;
    font-weight: bold;
}

footer{
    align-items: center;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
}

#copy{
    font-weight: 700;
    padding: 3rem 0;
    margin: 0;
    color: var(--black);
}

#copy a{
    color: var(--blueDark);
}

#copy a:hover{
    color: var(--blueLight);
    transition: 0.3s;
}